<div class="integral_content">

</div>
<script id="integralShopStatus" type="text/html">
    <header class="ui-header ui-header-positive ui-border-b">
        <!--<img src="../../../assets/image/ic_back@3x.png" alt="" onclick="history.back();" width=24px height=24px; class="ic_back_return">-->
        <!--<i class="ui-icon-return" onclick="history.back();"></i>-->
        <h1 class="head_name clr-black name">Order</h1>
    </header>
    <div class="languageBox">
        <div class="languageTop" style="background: white;">
            <h4>Unfortunately</h4>
            <img src="{{ids == 1? '../../../assets/image/ic_cheng@3x.png' : '../../../assets/image/ic_shi@3x.png'}}" alt="" >
        </div>
        <div class="languageBottom" style="text-align: center;">
            <p style="color:#252525; font:bold 16px italic">Unfortunately</p>
            <p></p>
            <p style="color:#555555;">The goods you want to exchange are temporarily out of stock.Please look at other products.</p>

        </div>
        <div class="lookOther">
            <span>Look at the others</span>
        </div>
    </div>
</script>
<style>
    #integralShopStatus-page{
    width: 100%;
    height: 100%;
    background: white;
    }
    .lookOther{
        width: 50%;
        height: 40px;
        text-align: center;
        line-height: 40px;
        text-align: center;
        border: 1px solid #FF7400;
        border-radius: 4px;
        color: #ff7400;
        margin: 25px auto;
    }
</style>